<div class="container">
    <div class="text-center mb-5">
        <h1>Lista de personas</h1>
    </div>
    <div class="personas-toolbar">
        <a routerLink="/personas/dni/new" class="btn btn-add">
            <i class="fa fa-plus"></i> Agregar persona
        </a>
        <input type="text" class="form-control"
            placeholder="Buscar por nombre, Dni o apellido"
            [(ngModel)]="searchTerm" (keyup.enter)="buscar()" />
        <button class="btn btn-search" (click)="buscar()" title="Buscar">
            <i class="fa fa-search"></i>
        </button>
        <button class="btn btn-clear" (click)="limpiar()" title="Limpiar">
            <i class="fa fa-times"></i>
        </button>
    </div>
    <div class="table-responsive">
        <table class="penguin-table">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Dni</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Título</th>
                    <th style="text-align:center;">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let persona of filteredPersonas; index as i">
                    <td>{{ i + 1 }}</td>
                    <td>{{ persona.dni }}</td>
                    <td>{{ persona.nombre }}</td>
                    <td>{{ persona.apellido }}</td>
                    <td>{{ persona.titulo }}</td>
                    <td style="text-align:center;">
                        <a [routerLink]="['/personas/dni', persona.dni]">
                            <button class="btn btn-penguin" title="Editar">
                                <i class="fa fa-pencil"></i>
                            </button>
                        </a>
                        <button class="btn btn-danger" (click)="remove(persona.dni)" title="Eliminar">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
                <tr *ngIf="filteredPersonas.length === 0">
                    <td colspan="6">No hay coincidencias</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-center mt-3" *ngIf="resultsPage.numberOfElements > 0">
        <app-pagination [totalPages]="resultsPage.totalPages" [currentPage]="currentPage"
            (pageChangesRequested)="onPageChangeRequested($event)" [number]="resultsPage.number"
            [hidden]="resultsPage.numberOfElements<1">
        </app-pagination>
    </div>
</div>